[submodule "app/src/main/cpp/addons/fmt"]
	path = app/src/main/cpp/addons/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "app/src/main/cpp/addons/perfetto"]
	path = app/src/main/cpp/addons/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "app/src/main/cpp/addons/range-v3"]
	path = app/src/main/cpp/addons/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "app/src/main/cpp/addons/Vulkan-Hpp"]
	path = app/src/main/cpp/addons/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "app/src/main/cpp/addons/VulkanMemoryAllocator"]
	path = app/src/main/cpp/addons/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "app/src/main/cpp/addons/imgui"]
	path = app/src/main/cpp/addons/imgui
	url = https://github.com/ocornut/imgui.git
	branch = v1.90.1

[submodule "app/src/main/cpp/addons/boost"]
	path = app/src/main/cpp/addons/boost
	url = https://github.com/darkluar/boost.git
